 14 IEEE SOFTWAR
E | PUBL
IS
HED BY TH
E IEEE COMPUT
ER SOC
IE
TY
 0740-7459/13/$31.00 © 2013 IEEE
Editor: 
Neil Maiden
City University London,
n.a.m.maiden@city.ac.uk
So, What Is 
Requirements Work?
Neil Maiden
BELIEVE IT 
or not, I™ve been editing 
this column for more than eight years. 
I think that is long enough, and that 
it™s time to give someone else a go. So, 

this is my last regular column for 
IEEE 

Software
. I™ve tried to make it a really 
good one.
Back to Basics
I™m writing this column on a ˜ight back 

from a requirements forum at which I 
took part in a panel. The theme of the 
panel was requirements engineering 

certi˚cation. Ever since I penned the 

IEEE Software
 column questioning 
the value of such certi˚cation,
1 I be
-came the awkward squad-in-residence, 
invited to provide an opposing view to 
all of the certi˚cation bodies out there. 

This time, though, I tried not to be too 

provocative and avoided asking any in
-convenient questions.
Rather, I thought, what is the real 
essence of requirements work? If a re
-quirements person could only do one 

thing for our projects, what would it 
be? I mean, if we™re going to certify 
anything, surely we should certify the 

essence of requirements work.
During the panel and follow-up 
discussions, it became clear that fo
-rum participants wanted requirements 

people to be able to undertake various 
tasks such as eliciting, documenting, 
and managing requirements. This is 

all well and good, but is that what re
-quirements work really comes down to? 
Scribing and cataloging?
Of course not.
In the end, requirements work is re
-ally about problem solving. Our pri
-mary function is to locate and scope 
problems, then create and describe so
-lutions for them. The fact that much of 
this implementation work involves soft
-ware is almost incidental.
Let™s repeat that, so that we™re all 
clear: requirements work involves lo
-cating and scoping problems, then cre
-ating and describing solutions for them.
Go on, say it out loud. Does it seem 
right? Even empowering?
Good.
So, this begs the question, why 
on earth do we make so much of our 

requirements work so diverse and 
complicated?
One answer concerns the complex
-ity of what is often called 
late require
-ments work
Šwork such as specifying, 
analyzing, and validating the speci˚ca
-tions of large, evolving software-based 
systems. The scale and complexity of 
the software artifacts and their inter
-actions with the world is what compli
-cates this work.
In contrast, 
early requirements 
work
 should be more straightforward: 
this should locate and scope problems, 
and create some solutions. It™s good 

old-fashioned problem solvingŠnoth
-ing more, nothing less.
Apollo 13 and Requirements
Let me remind you of a well-known in
-cident. Most people know the story of 
Apollo 13. (Even if you aren™t familiar 
with the original mission, you might 

have seen the Tom Hanks ˚lm portray
-ing it.) After an explosion onboard the 
REQUI
REMENTS
If a requirements person 
 could only do one thing 
 for our projects, what would it be? 
  MARCH/
APR
IL 2013
 | IEEE SOFTWAR
E 15REQUI
REMENTS
Apollo 13 spacecraft, lithium hydrox
-ide was needed to remove carbon diox
-ide from the spacecraft™s atmosphere, 
but the design of the canisters available 

to ˚lter the air were incompatible with 

the lunar module in which the crew 
were sheltering. To resolve this prob
-lem, engineers on the ground impro
-vised a way to join cube-shaped canis
-ters to cylindrical canister sockets using 

only spare equipment available in the 
spacecraft. In simple terms, these do
-main experts located the problem, cre
-ated a solution, and communicated that 

solution to the crew via a radio so that 

it could be implemented.
Believe it or not, I consider this to be 
a great example of requirements work. 

A problem was located, then solved, 

and the solution speci˚ed so that it 

could be implemented.
Who Should Be 
Involved 
 in Requirements Work?
So, going back to the requirements cer
-ti˚cation debate, can we really slap a 
certi˚cate on such basic, intrinsic prob
-lem-solving skills? Can you ever imag
-ine saying, ﬁSorry, I™m not going to 
listen to your otherwise eminently sen
-sible solution to this problem because 

you haven™t passed the prerequisite 

exam,ﬂ or, ﬁI know that you™ve been 

working in this business domain for 25 
years, but because you don™t know how 
to draw a use-case model, you™re going 

to have to leave the roomﬂ?
Again, of course not.

Which leads me to another question: 
Who should actually be doing the prob
-lem solving at the heart of requirements 
work?
In many situations, an analyst who 
is parachuted into a project lacks the 
prerequisite domain knowledge to solve 
the problem him- or herself. Although 
he or she can bring a useful naivete to 

the problem, asking innocent questions 

such as why or what, it™s rare that the 
analyst can locate and solve the prob
-lem alone. Rather, it™s the people with 
the domain knowledge who are best 

positioned to solve it.
This means that, in many situa
-tions, the role of a requirements ana
-lyst is to facilitate the means for do
-main expertsŠwho are often, but not 

always, the stakeholdersŠto locate and 
scope problems and create and describe 
solutions.
In essence, therefore, our role is to 
help others help themselves.
At this point, I am reminded of a 
keynote from an eminent Swedish aca
-demic who was talking some years ago 
about the number of computing gradu
-ates that Sweden generated each year, 
comparing this to the number of com
-puting jobs advertised in that country 
during the same period. The number of 
tech-savvy people produced each year 

simply couldn™t keep up with the de
-mand. I accept that it™s a bit of a leap, 
but I suspect this is the situation for re
-quirements analysts worldwideŠthere 
simply aren™t enough requirements ana
-lysts to locate, scope, and solve all of 

the problems out there.
So where does all of this leave the 
future of requirements work? Require
-ments analysts need to not only facili
-tate problem solving during early re
-quirements work on individual projects 

but also enable stakeholders to solve 
more problems on their own over time. 
This means equipping and training do
-main experts with essential require
-ments competencies so that projects 

might need fewer and fewer specialist 

requirements analysts over time.
Inevitably, my position here chal
-lenges the requirements engineering 

certi˚ers. We need everyone, not just 

a certi˚ed subset, to be doing require
-ments work, and we need to recognize 
it as requirements work. These people 
would never consider the need to be 

certi˚ed in requirements engineering 

when working in their domain, their 
sector, their discipline.
Moreover, I believe that require
-ments work can offer knowledge and 
skills to other problem-solving areas. 

For example, creative problem-solving 
techniques are available for problem 
˚nding and goal analysis, but our re
-quirements techniques offer even more, 

such as specifying complex solutions 
and enabling us to validate solutions 
before implementing them. So, let™s be 

more con˚dentŠlook outward, not in
-wardŠand encourage more people to 
do what we do during problem solving.
And that™s that! The end of 
eight years of columns in this 
great magazine. What has 
both fascinated and surprised me over 
the years is how often I have looked to 

the column for information, insights, 
and humor. Looking back, several of 
the columns stand out, from the guest 

columns by guru Colin Codephirst to 

my characterization of software people 
as Spocks and Kirks. For me, it™s been a 
blast, and I™ve loved itŠeven the con
-stantly looming deadlines!
The very best of luck to my succes
-sor, Jane HuangŠthe readers and the 

column are in very capable hands.
Reference
 1.
 N.A.M. Maiden, 2012, ﬁOi AnalystŠYou™re 
Barred,ﬂ 
IEEE Software
, vol. 26, no. 6, 2009, 
pp. 13Œ14.
NEIL M
AIDE
N is a professor of systems engineer
-ing and head of the Centre for HCI Design at City 
University London. Contact him at n.a.m.maiden@

city.ac.uk.
See 
www.computer.org/software
 -multimedia for multimedia 

content related to this article.
