 ˜˚˛˜˝˚˛˙ˆˇ˘˜ˇ˜˜˜˘˜
˜˜˚˛˝˙ˆˇ˘
˜˚˚˚˛˝˙ˆˇ˘˚
˜
˜˚˛˝˙ˆˇ˘˛˘˛˚˘
˜˘˛˝˘˛ˆ˛˝˘˙˚˙˘
˜˘˛˚˛˝
˜˚˛˝˙˜˚ˆ˚ˇ˘
˘˝˘˚˛˝˘˛˝ˆ˘˙˘˘ˆ˘˝˙˙
˝˙˘˛˘˝˛˘˝˘˙†˚˘˛˝“
˛˘˝˛˘˛˘˝˝˘˛˘ˆ˝˛
˘˙˘˙ˆ˘˝ˆ“˘˝˚˝˘˘˛
˝˛˘˛˘˝˛ˆ˘†˙ˆ˘‘ˆ˘˛˙ˆ
’˝˛˙˘˝˘š˙š˘ˆ˘ˆ˚˛˛˘˙ˆ˘
†€˛˝˘˛˘˛˘˝˛˘˝˙ˆ˘˝ˆš˝˘˝
€•˝˘˙˘˛˘ˆ˛ˆ˝˘˝˛˘˘
˝˘š˙š˘€˘†ˆ˙‡
…˙˘†˘˚˛˚˚˘˝˙˘˝˘˙˝ˆ˘˙˙˘˝˘˛
˝˛˘˚˘˝˘ˆ˛ˆ˝˘šˆ˙˘˝
šš˙ˆ˝˘—˛˘˙˘ˆš˙ˆ˝˘†˝˘†˘˙˚˘˚˘
ˆ˘˝˝˘†˘˝˘ˆ˝˛˘˙†˘˝˙˘˚˙˝˘ˆ
’˛ˆ˝˘ˆ˝ˆ˘˝˘˙˛˚˘˛˝
˜˚˛˝˙ˆˇ˚˘ˇ˙ˆ˚˙˚˜
–˙ˆ˘˘˙˘˙˝ˆ˘˙˝˘˝ˆ˘ˆ“˘˘€ˆ˛˘˛
’˝˙ˆ˘˙˘˛˘‘ˆ˘˝˘˝˘˚˚˘˙†ˆ˘˚
’˙š˝˘˘˘˘€˝˝˛˘ˆ˙†˝˘˛˘˝˘˘˙
˛˘˝˛˘˛˘ˆ˚˘˘˘˝ˆ˝˛
†˘˝˙˘˚˙š˘˙†ˆ˘˚˘˘šˆ˙ƒ˝˘—
ˆš˛˚˘ˆ˙†˝˘˛˘˛˝˘˘˘€˘˛šˆ˛˘˛
˝˛˘ˆ˘€˚˘˙˘˝˘⁄‹˘šˆ˛˛š˘˙˘˝˘
’˛˘˛˝˙˘›†††˛˛˝˙˙ˆ−
—˘˛˝˙˘˝˝˘˛˘˝˛˘˙˚˘
˘˜šš˙ˆ˝˘š˙š˘˚˘˝˛ˆ˘˛˝ˆ˝˛˙˘ˆ˝ˆ˘
˝˘˘˚˙š˝˘šˆ˙˘˚˘˝˙˙‰˘
˘˜˚˛ˆ˘†˙ˆ˛˘˙†ˆ˘ˆ˝ˆ˘˝˘˚˙
’˝˚˘ˆ˛ˆ˝‰˘
˘˜€˘˚˛ˆ˝˘˙€˙ˆ˝˛˙˘†˛˝˘˝˙ˆ
ˆ˝ˆ˘˝˘˙˝˛˝˛˙˘€˙˝˘˙˝ˆ˝˘˝˝˘˛
’˚˘ˆ˛ˆ˝‰˘˚˘
˘˜€˘˚˙šˆ˘˝˙˘ˆš˙˚˘˝˙˘ˆ˛ˆ˝˘
˘ˆ˝ˆ˘˝˘˙˙†˘š
˛˘˝ˆ˚˛˝˛˙˘˝˙˚˘˝˝˘˙˘˙˘˙˚
’˛˘˚˘˛˘˛˘˙ˆ˘˙˛˝˛˙
˚˘˙€˙ˆ˝˛˙˘†˛˝˘˚˘ˆ˘˝˙˘˚˙š˘˙
’†ˆ˘†˛˝˙˝˘˝˘˚˘˙ˆ˘˙˚˛˘„˙˝
’˝˛˙˘˝˝“˘ˆ˘ššˆ’€˚˘˚˘˚˛•˝’˝˙’ˆ˚˘
€˙˘˝˘˘€˘˛˝˘˛š˚˘˝˛
˙˛˝˛˙˘˙˘š˙š˘˛˘šˆ˙ƒ˝
˛˙˚˚˜˚
˙˙˛˘€˘˝˘˝˘˛˘˛˝˙˘ˆ˙˘ˆˆ˝˘
ˆ˛ˆ˝˘šˆ˝˛˘†˘˙˘˛˝˘˝˘ˆ˘˙
’˝ˆ˙ˆ˛˘”˘˝˘˙†˚˘˛˝˘˙˙˘ˆ˝ˆ˘˝
–˙ˆ˘‚š˘˙˘šˆ˛˛š˘˛˛˝˘˘˝˙˘†˙
˛˘ˆ˛ˆ˝˘˘˝˘˛˘˚˙š˝
€˘˛˘˝˛˘ˆ˘˘˙ˆ˘˝
˝˙ˆ“˘˙š˝˛˝˛˘˚˝˘–†˘†˙˚˘˚˛
’š˝˘˝˝˘ˆ˛ˆ˝˘˚˙˘˘˙ˆ˘˝˝˘˛˙ˆ˛
˘˘†˙˚˘˚˘˝˙˘ˆ˛ˆ˝˘˝˝˘ˆ
˙˝’˙’˚˝˘˚˘˚˙“˝˘˚ˆ˛€˘†˝˘˝˙˚ˆ
˝˘†˝˘‘˘˙ˆ˘˝˘˛˝˘˚˛ˆ˘˙
˙†˘˝˙˘šˆš˝˘ˆ˛ˆ˝˘˘˚˘
˝˘˛˘˝˘˚˙˘˙ˆ˘˝˘˝˘š˝˘˝˘˚˘
˝˙˘˚˘ˆ˛ˆ˝˘˘˝˝˘˝˘šˆ˛˛š
šˆˆ˛€
ˆˇ˚˜˚ˇ
˛˘ˆ˛ˆ˝˘˝˛˘˘šˆ˙€€˘˚
˝˛ˆ˘€˛˝˘˛š˝˘˙˘˙†˘ˆ˛ˆ˝˘ˆ˘†ˆ˛˝
’˝˘˚˘˚˙˝˚˘…˝˙˚ˆ˘†ˆ˛˝˘ˆ˘˝˙
’ˆ˛˘˙˘˛˘†˙ˆ˙š˘ˆ˘˝˙ˆ˛˘ˆ˘˚˛˚˘
˝˙˘€˘˛š˘˚˘˘˜˘˚ˆ˛€˘˘˛š
˘ˆ˛ˆ˝˘˙ˆ˘˘ˆ˘ˆ˛ˆ˝˘ˆ˙˘
ˆ“˘šˆš˝˛˘—˙˘š˘˘˝˙ˆ˘˙ˆ˝˘˝“ˆ
˚˛˚˘˝˙˘€˘†ˆ˛˝˝˘˙˘˘™‚ﬁﬂ˘ˆ˚˘–˛ˆ˘⁄˘
˙†˘ˆ˘‚š˘ˆ˙˘˘ˆ˝˘˛ˆ˛˝
šˆ˙ƒ˝
˘šˆ˙ƒ˝˘†˛˘˙˘ˆ˝˘˘ˆ˘˝˙ˆ˛
˘˚˙˝˚˘˙˘˚˛ˆ˝˘ˆ˚˘—˛˘˘˛˝˘
˘˝˙˘˝˘˚˘˘˝˘ˆ˛ˆ˝˘˝˙˘˛
’š˝˘”˝˘˙˘˛˘˝˘˙˘˝˙˘˙˛˝˛
ˆ˙
˜˚ˆˇ
˚˜˚˛˝˙ˆ˝ˇ˚˘˚ˆ˝˚˛˚
 
˜˜˚˚˚˛˝˙ˆˇ˘˚˛˛˛
ˆ˘˝˚˘
†“˛
˝˘ˆ˛ˆ˝˘˝˙˘€˘˝˚˘˚˘˛š
’˝˚˘ˆ˝ˆ˘˝˘˙ˆ˘˝ˆ˚˛˝˛˙˘ˆ
’˛ˆ˝˘˝˘˝˛˛˝˛˘˘
ˆ˛˙˘˙˝ˆ˙˘˚˘˘˝
˜˚ˇ˚ˆ‘
—ˆ“˘˙˘˚˙€˝˘˝˝˘˛˘˝˛˘
€˘˚˙š˝˚˘˘˚˘˘˚˘˝˙˘
˝˛˘ˆ˛ˆ˝˘šˆ˝˛˘
˜˚˚˚˛˝˙ˆˇ
˘˛
˘ˆš˙ˆ˝˚˘˙˘˙˘˙˘˝˘˝˙ˆ˛
˚˘šˆ˝˛˘–˙ˆ˘‚š˘˘˙˘˚˘
€ˆ˛˘Ł˘
ˆ˛†˚˘’
ˆ˛†˚˘
’˛˘šˆ˙ƒ˝˘ˆ˛ˆ˝˘˝˛˛˝˛˘˚˘ˆ
’š˙ˆ˝˚˘˝˝˘˝˙ˆ˘†ˆ˘€˘˝˙˘˚˛˙ˆ˘
ˆ˛ˆ˝˘Œ‚˛€˘˝ˆ˘˝˛ˆ˘šˆ˙ƒ˝˘˛
‚š˝˚˘˚˛ˆ˝˛˙˘˚˘˘šˆ˙˝˙˝š
˝˛˘˝˙˘˙˛˝˘˚ˆ˛˘ˆ˛ˆ
’˝˘šˆ˙
⁄˝˘˚˙˘˘˘˙˘˝˘˘˙˝‡˘
Šˆ˙€€˘”˝˘˘ˆ˘˝˘˛˘ˆ˛ˆ
’˝˘˝˛˘šš˙ˆ˝˘˙˘˝˛˛˝˛
˝˘˘‚š˘˙˘˙ˆ˘–˙ˆ˘‚š
ˆ“˘˛˝˝˘šš˙ˆ˝˘˙ˆ˘˚˛˙ˆ˘˚˘
Ÿ˘€˘˙˘˚ˆ˛€˘˚˘
ˆ˙˘€˙˝˘˙˝˛˙˘ˆ˛ˆ
’˝˘˙ˆ˘˚˙š˘˙ˆ˘˙˝˛
˛˚˘€˘˙˘˙ˆ˝’˝ˆ˘˚˙š˝˘
šˆ˝˘˙˘˚˘Ł˘ˆš˙ˆ˝˚˘˝˘
šˆ˙ƒ˝˘˝˚˘˛š˙ˆ˝˝˘˙
’˝˛˙˘ˆ˛ˆ˝˘ˆ˝˚˘˝˙˘šˆ˙ˆ
’˘˚˘ˆ˛˝˘˝˚˘ššˆ˙šˆ˛˝
ˆ˛˝˝ˆ˘˚˘˝˙˘ˆ˝˙ˆ˘˙˝†ˆ
˙˚˘˚˘˚˛˚“˝˘˛˚˝˘ˆ˛ˆ˝
†˛˘˝˙˚ˆ˘€˙ˆ˘˛š˝
˘˘šˆ˝˘”˚˘˘˘˙˘˚˙
’˝˝˛˙˘˚˘˛˝˘˚˛•˝˘˝˙˘˙˘
šš˛˝˛˙˘˙ˆ˘˝˛˘˚˘˚˝˘†˘
˝˘€ˆ
⁄—˘˝˘†˘šˆ˙€˘ˆ˘ˆ˛˝˛˘
’˛˘˚˙š˝˘ˆ˚˘˘˘ˆš˙˘˝˙˘
˚˙˝’˚˘˚˙š˝˘˝˘˝˘€
˙˘˚˙˝˝˛˙˘˘˚˘˝˙˘˚˛ˆ˝˘šˆ˙€
’˘˚˘˝“˘€˘˙˝˘—˘šˆ˙€
†ˆ“˝˘˚˛•˝˘˙ˆ˘˝˘šˆ˙š˙˝˘˙˘˛
˝˛˘˝˙˘šˆ˚˛˝
ˇ˝’˚ˇ
š˙ˇ˙
…˙˘˛˘ˆ˛ˆ˝˘˚˙˝˝˛˙˘†
˚˘˝˛˘˛˘˘šˆ˙€˘†˘˙˝˘ˆ˝˛˘˛˝˘
ˆ˝ˆ˘˝˘˝˘ˆ˛˚˘˙˘˛˝‡˘Ž˘˙˝˘šˆ˙˚
˚˙˝˝˛˙˘˝˝˘šš˙ˆ˝˘ˆ˝ˆ˘˝
˛š˚˘ˆ˛ˆ˝˘†˙ˆ‡˘”˘˚˙
’˝˝˛˙˘˛˘˝˙˙˘€ˆ˙˘˚˘ššˆ’€˚˘
˚˘˛š˚˘˙˛˝˛˙˘˝˘˝“
˘˛˝˘Œ‚˛€˘˛€˘˚˘˝ˆ˙˛˘˝˙˘
€˘˙˛˝˛˙˘ˆ˘˘˝˙
’˙˘˘˙˘˘˙˘†˘˛˘šˆ˙š˙˝
š˙˝˚˘˝˘˛˘˛˝˙
Ž“˘˙˝ˆ˚˘˛˛ˆ˘
˛˘˙ˆ˘˝˝š˝˘˝˙˘˝˛˝˘˙ˆ˘ˆ˝˛
˝˛˛˘˛˘ˆ˛ˆ˝˘šˆ˙˘‘
˝š˘˙˘˝˛˘˛˘˝˘ˆ˝˛˛˝˘†˙ˆ
’˙š
‹˘”˘˘˝š˛˘†˙ˆ˙š˘˝˙˚ˆ
˘ˆ˝˛˛˝˘˝˛˘˝˙˘˚˛˙ˆ˘˛˝
˚˘˚˙˝˘˘˘˙š˝˘ˆ˛ˆ
’˝˘˚˘˛˚˘˛˘šˆ˘˘š˙˛€˘—
˙˝˙˘˙˘˘†˙ˆ˙š˘˛˘€˝˝˛ı
˚ˆ˚˘˙˘†ˆ˛˝˝˘˛˚˘˝˘˛
’˛Ÿ˝˛˙˘ˆ˛˙˘˚˘˝˙ˆ€˙ˆ˚˘ˆ˙
†˛˘˝˙˘ˆ˝˘ˆ˛ˆ˝˘Ž˘˚˘
˝˙˘š˙˝˙ˆš˘˚˘˚˙˝˘†˙ˆ˙š˘
ˆ˝˘˛˘ˆš˙ˆ˝ıˆ˘Š„–˘•ı†˛
†“˚˘˘˛€˘˙˘„
Ž˘˙˚“˝˘˘€˘ˆšˆ˛˚˘†
˝˙˚ˆ˘˚˘˚˙šˆ˘˛˚˘˝˙˘
˘˙˘˝˘†˙ˆ˙š˘˛˘€˝˘ˆ˛ˆ
’˝˘†˙ˆ
…˙˘†˘˝ˆ˝˚˘˝˙˘˝˛˘€˙˝˘˚˘‚
’šˆ˛˝˘†˛˝˘˙ˆ˘˚˛˘˚˘Œ‚˛€
˝ˆ˙˛˘š˘˙ˆ˘˚˙˝˛˘ˆ˛ˆ
’˝˘˙˘†˛˝˘†˘˙˝˝˛˙˘˝˙˘˙
’˛˝˘ˆ˛ˆ˝˘˝˘˝˘˙˝
†“ˆ˘‚š˙ˆ˛˘†˘˝˙˙˛˘˛˚
’˛˘˛˝ˆ˝˛˘˝€˘˘†˘˘˙†’˝
˙˝˛˙˘˝˝˘˘˝˘˘˙˘˝˙
’˙˘˘˘˚˘˙€˝ˆ˛˘˘š˙˛
’€˘–˛ˆ˘‹˘˙†˘˙˘ˆ˝˘‚š
˚˙š˚˘˛˘˝˘ł”…˘
›ł˙˛˝˘”˙ˆ˝˛˙
…˝˘˙˛˝˝−
’˚˚˘˛˙ˆ˝˛˙
š˘˙ˆ˘˙€˙ˆ˝˛˘ˆ˝˛˛˝˘šˆ˙ƒ˝
œ˘—˙˘šš˙ˆ˝˘˙˛˝˛˙˘˙˘˚˘˙
’€˙ˆ˝˛˙˘€˙˝˘ˆ˛ˆ˝˘†˘˛š
’˝˚˘
˙ˇ˙˛
˘˝˝˘šˆ˙˛˚
˘˘˝˙˘ˆ˚˘š˘˝˝˘šš˙ˆ˝˘
˛˛ˆ˘˛˝ˆ˝˛˙˘˘˘˝˛˘˚˘
†ˆ˛˝˛˘†˛˝˘š˛˘˚˘˚˛˛˝˘ˆ˝˛˝
—˘š˘˘€˘˘˘˚˛˛˝’
’˝˚˘ˆ˛˙˘˙˘˝˘ˆ˝˛˘˙ˆ
’˝˛˙˘š˘ˆš˙ˆ˝˚˘˛˘˝˘šˆ˛˙˘˚˛˝˛˙
˙˘˝˛˘˙
™˘˜ˆ˘˚˛˘˝˘˝˝˘
˝˘š˘˘˝˘š˙˝˝˛˘˝˙˘šš˙ˆ˝˘
˛˘ˆ˛ˆ˝˘˝˛˛˝˛˘†˛˝˙˝˘˙˘˙
˚˙˝˝˛˙
˘˙ˆ˛˛˘†ˆ˙˝˘˝˛˘˙˘˘
ˆ˛†˘˙˘˛˘ˆ˛ˆ˝˘˝
’˛˘”˝˘ˆ˛˚˚˘˘˝˝˘˛
†˘€˙ˆ˘˛˘šˆ˝˘˙˝˘˙˘˝˙˙˘˘š˙˙ˆ˘
˚˙˝˝˛˙˘Ž˛˘†˘ˆ˙˛Ÿ˘˝˝˘
˚˙˝˝˛˙˘šˆ˝˛˘“˝˘˚˘
˚ˆ˝˛˘˙ˆ˘˝˘˝˘˚˚˘†˘˚˙˘
€˛˘˝˝˘†˘˝˙˙˛˘˙ˆ˘‚˛˝˛
†˘˙šš˙ˆ˝˛˝˛˘˝“˘‚š˙ˆ˘˝˘†˘
˙šš˙ˆ˝˛˝˛˘˝˙˝ˆ˘˘˘†˘˝˙˘‚˛
’˛Ÿ˘˝˘€•˝˘˙˘˛˘˚˘˙˝ˆ˘ˆ˛ˆ
’˝˘˝˛
ˆ
˘⁄
˘˛˛ˆ˝
˜˛ˆ˛ˆ˝˛š˛ˆ˛˝˚ﬂ˘
˜˚˚˚˛˝˙ˆˇ
˙ﬁ˙¡š
¢£¢¤
˘‹
˘˛˚˙€ˆ˝˙˛Ÿ˛˛
žŠˆ˙˙˛ˆ˝˛˛˝ˇ˘”˛˝˘¦˙ˆ˘
Ł˛ˆ˝˙˛ﬂ˘
˜˚˚˚˛˝˙ˆˇ
˘
˙⁄˙œš¡£¤ﬁ
˘™
˘Ł˙˙ˆ˝˛˛ˆ˝˙ˆ
’˝˛˙ﬂ˘
˜˚˚˚˛˝˙ˆˇ
˙¤˙⁄
šš£§⁄
˘œ
˘ž”˙ˆ˝˛˙š˙˙€˙ˆ˝˛
˘ˆ˝˛˛˝ﬂ˘ł˙˛˝˘”˙ˆ˝˛˙˝˙
’˛˝˝⁄‰˘†††ƒ˛¨†˝†˚˙¨
šˆ˙ˆ¨ˆ˛¨ˆˆ˛˚˛ˆ¨
˛˙ˆ˝˛˙ˆ˝˛˛˝š‚

˜˚˛˝˛˙ˆˇ˘˚˚ˇˆ˛ˇ˘˛˚˚˜ˆ˜˜
˜ˆ˚˜ˇˇˇ˝˜˝˝˜˜˝
˛ˆ˙
˜˚˝ˆˇ˜˚˝ˆ
ˇ˜˜ˆ˚˜ˇˇˇ˝ˆ˛˝˝ˆ˝†˚ˇ˜
˜˝
€ˆ˚•˚†ˆ˚ˇ˙ˆ•˚˜˚‡ˆ˙…ˇ˚ˇ˚
—ˇ˚†‘ˆˇ˚–˙˙˚
ƒ‡˚˙˚ˆ˚ˇ˙ˆˇ˝˚ˇ˚
‡˙ˆˇˇ˚ˆˆˇ˚ˆˇˇ˚
˚‘˙‡ˇ˚ˇ˝•
€ˆ˚⁄•˚šˇ˚˙‘ˆˇ˙
‡•˚š‘˙‡˚˚ˇ˝˚˛—˚
‹˙ˇ˚
˙ˆˇ˙˚˛ˇ˚—˙ˇˇ›
−˚˙ˆˇ˙˚‡˚˙ˆ˚
˙‰˙ˆˇ‘˚ˆˇ‘ˇ˚‡ˆ˙…ˇ„˚
ˇ˝˚‡˚˙ˆ˚˚‘˙˚˙ˆ˚ˇˆ
ˆˆˇ˚˙ˇˇ˙•
