 11
Editorial:ﬁComplexityofSystemsEvolution:Requirements
EngineeringPerspectiveﬂ
MATTHIASJARKE
,RWTHAachenUniversityandFraunhoferFIT
KALLELYYTINEN
,CaseWesternReserveUniversity
Walkingonwater,andprogrammingaccordingtospeciÞcationsiseasyÑaslongasbothofthemarefrozen.
ŒRobertGlass
Thisintroductiondiscussesthechangingnatureofcomplexityassociatedwithrequirementsengineering
(RE)tasksandhowithasshiftedfrommanaginginternalcomplexitytoadaptingandleveragingupon
externalanddynamiccomplexity.Wenoteseveralsigni˚cantdriversintherequirementsknowledgethat
haveresultedinthischangeanddiscussinlightofcomplexitytheoryhowtheREresearchcommunitycan
respondtothis.Weobserveseveralresearchchallengesassociatedwithﬁnewcomplexityﬂandhighlighthow
thearticlesincludedinthespecialissueadvancethe˚eldbyde˚ningcomplexitymoreaccurately,observing
morevigilantlynewsourcesofcomplexity,andsuggestingnewwaystomanagecomplexityintermsof
economicassessments,knowledge˜ows,andmodelingforadaptability.
CategoriesandSubjectDescriptors:D.2.1[
Requirements/SpeciÞcations
]:Methodologies
GeneralTerms:Design,Management
AdditionalKeyWordsandPhrases:Systemevolution,complexity,requirementsknowledge,requirements
engineering,agility,edgecomputing
ACMReferenceFormat:
MatthiasJarkeandKalleLyytinen.2015.Editorial:ﬁComplexityofsystemsevolution:Requirementsengi-
neeringperspectiveﬂ.ACMTrans.Manag.Inform.Syst.5,3,Article11(January2015),7pages.
DOI:http://dx.doi.org/10.1145/2629597
1.REQUIREMENTSENGINEERINGANDCOMPLEXITY
Thegenesisofrequirementsengineering(RE)researcharoundthemid1970swasmoti-
vatedbythepractitioner™sneedformoredisciplinedsoftwaredevelopment,assoftware
hadgrownlargeandunmanageable[Brooks1995;Ross1977;RossandSchomanJr.
1977].Inthisregard,fromitsinception,REhasbeenanoffspringoftheneedtomiti-
gateandmanagecomplexityassociatedwithsoftware.Consequently,muchoftheRE
researchsincethenhasfocusedonwaysofbringingaboutintellectualdisciplinein
identifying,reducing,andmitigatingtheinnercomplexityofsoftwarebycapturing,
sharing,representing,analyzing,negotiating,andprioritizingrequirementsasabasis
foreffectivedesigndecisionsandinterventions.Thisdriveisevidencedbythesigni˚-
cantvolumeandimpactofrequirements-relatedpaperspublishedintopsoftwareand
ISconferencesandjournals(forasurvey,seeChengetal.[2009]).Manyresultsof
ThisworkwassupportedbytheDeutscheForschungsgemeinschaftunderExcellenceCluster89UMIC.
Authors™addresses:M.Jarke,InformationSystems,RWTHAachenUniversity,Ahornstr.55,52074Aachen,
Germany;email:jarke@dbis.rwth-aachen.de;K.Lyytinen,10900EuclidAve.,Cleveland,OH44106,USA;
email:kjl13@case.edu.
Permissiontomakedigitalorhardcopiesofpartorallofthisworkforpersonalorclassroomuseisgranted
withoutfeeprovidedthatcopiesarenotmadeordistributedforpro˚torcommercialadvantageandthat
copiesshowthisnoticeonthe˚rstpageorinitialscreenofadisplayalongwiththefullcitation.Copyrights
forcomponentsofthisworkownedbyothersthanACMmustbehonored.Abstractingwithcreditspermitted.
Tocopyotherwise,torepublish,topostonservers,toredistributetolists,ortouseanycomponentofthis
workinotherworksrequirespriorspeci˚cpermissionand/orafee.Permissionsmayberequestedfrom
PublicationsDept.,ACM,Inc.,2PennPlaza,Suite701,NewYork,NY10121Œ0701USA,fax
+
1(212)
869Œ0481,orpermissions@acm.org.
c

2015ACM2158-656X/2015/01-ART11$15.00
DOI:http://dx.doi.org/10.1145/2629597
ACMTransactionsonManagementInformationSystem,Vol.5,No.3,Article11,Publicationdate:January2015.
 11:2M.JarkeandK.Lyytinen
thisresearchstream,suchastheuseofbusinessandsystemmodeling(e.g.,entity-
relationshipandUMLdiagrams,usecases[Jacobsenetal.1997;Jarkeetal.1998]),
risk-drivenmethodologies[Boehm1988],structuredrequirementsdocuments,andre-
quirementstracing[GotelandFinkelstein1994;RameshandJarke2001],havefound
theirwayintodesignpractice[Lyytinenetal.2009].
2.ANEWTYPEOFREQUIREMENTSENGINEERINGCOMPLEXITY
Externally,thedesigncomplexityinREdealswithhowsoftwareanditscomponents
interactwithandrelatetoincreasinglyheterogeneousandlargenumbersoftechnical
andsocialcomponentsintheenvironment,includingcomponentsthatarecontributed
bytheﬁedgeﬂoforganizations(freelancers,endusers,smallinnovativecompanies)ex-
ploitingmodernplatformcapabilities.Thedesigntaskismoreaboutadjustingmultiple
interconnectedsoftwaresystemsandcomponentsandimprovingtheirenvironmental
ﬁ˚tﬂbyadaptingthemintoagrowingnumberoftechnical,social,andorganizational
subsystems[HansethandLyytinen2010].Anotherchallengeisthegrowingsizeofthe
softwareinitiatives.Thenumberofincludedcomponentsandtheirinteractionshas
grownexponentially.Theinitiativesspanseveralyearsandoftencostbillionsorhun-
dredsofmillionsofdollars;moreover,theseinitiativesencounterconstantchangesin
theirrequirements,designs,andunderlyingtechnologies[Wuetal.2011].Inadequate
meanstomanagethiscomplexityoftenhaveresultedintheirdismalperformance.
TheenvironmentinwhichREispracticedhaschangeddramaticallyfromthesoft-
warelandscapeof40yearsago.Whereasmostoftheinterestinthepastfocusedon
understandingandmanagingthe
inner
and
static
complexityofthedesigntaskby
usingabstraction,modularization,andrelatedprinciples,today™scomplexityisofa
differentilk.Itisalso
external
and
dynamic.
Accordingly,thesources,nature,and
dynamicsofcomplexityinREhavechangeddramatically.
Partly,thisexternalizationofcomplexityisduetoadvancesinhardwareandtelecom-
municationstechnologiesthathaveloweredcomputingcostandextendedsoftware
functionalityand˜exibility,makingsoftwareubiquitous.Partly,thischangeisdueto
changesintaskandorganizationalenvironmentswheresoftwareiseitherproducedor
deployed.Organizationsnowoperateglobally,theyneedtobenimble,andtheyneed
toinnovateataconstantpacewithdigitallycreatedoptions[SambamurthyandZmud
2003].Thishaswidenedtheboundariesandfunctionsofinformationsystemsintoin-
terorganizationalorindustry-widesystemscreatingnewtypesofinterdependencies
andnewformsofcomplexity.Atthesametime,softwarefunctionalityhasbecomeﬁliq-
ue˚edﬂastimetomarketismoreimportantthanproductquality,wherebysoftwareis
runinaperpetualstateofbetaversions[O™Reilly2005].Asaresult,the˚eld™sfocusand
scopehasshiftedfromengineeringofindividualsystemsandcomponentstowardthe
generation,adaptation,andmaintenanceofsoftware-intensive
ecosystems
consistingof
software,hardware,humanandorganizationalagents,businessprocesses,regulators,
andmore.
Weillustratethechangingnatureandscopeofrequirementsandassociatedcom-
plexitybetweenthetraditionalandnewREinTableIbyenlistingtheirdifferences
insixﬁV™sofREﬂ:volume,veracity,volatility,vagueness,variance,andvelocity.Those
featuresthatareuniqueandnoveltothenewenvironmentareexpressedinagrey
shade.Inparticular,wecannotethatthenatureofREactivitytodayissigni˚cantly
differentintermsoftherequirementsofvolatility,vagueness,variance,andvelocity.
Allofthesearemanifestationsofheightenedlevelsofexternalcomplexity,whichis
likelytoresultindifferentdynamicsofREtask.
ThisshiftintheREknowledge,andhowitismanaged,hasthuschangedthe
complexityintoahighlydynamicone.TraditionalREapproachestendedtofocuson
static,internalcomplexityandprimarilydealtwithvolumeandveracity.Therefore,
ACMTransactionsonManagementInformationSystem,Vol.5,No.3,Article11,Publicationdate:January2015.
 Editorial:ﬁComplexityofSystemsEvolution:RequirementsEngineeringPerspectiveﬂ11:3
TableI.SixV™sofRequirementsinTraditionalandNewRequirementsEngineering
OldComplex
RequirementFeature
De˚nition
Requirements
NewComplexRequirements
Volume
Thesizeofthe
requirementspool
in˜uencingthe
scopeofthework
MajorfocusofREasit
in˜uenceseffort
estimation(mediumto
large)
Signi˚cantduringREasit
in˜uenceseffortestimation
[Hansenetal.2009](largeto
ultralarge)
Veracity
Towhatextent
requirements
expresstheneeds
ofthestakeholders
andareconsistent
Emphasizedasthe
keyfeatureofRE
task;workswellif
requirementscanbe
frozen
Importantasanideal,but
notkey,featureofmostRE
efforts[Ross1977;Jarke
etal.2011]
Volatility
Therateatwhich
therequirements
changeoveragiven
periodoftime
Recognizedasakey
reasonforthefailure
ofwaterfall(e.g.,
Brooks[1975])
Constantfeatureofsoftware
developmentformost
environments[Hansenetal.
2009]
Vagueness
Towhatextent
designersandother
stakeholders
understandthe
contentand
consequencesofthe
requirement
Notrecognizedasan
importantelement
otherthantobe
avoidedduringRE
task
InherentfeatureofmanyRE
initiativesduetoinitiallack
ofuserlearningor
understandingofthe
dynamismintroducedbythe
softwareintheenvironment
Variance
Thevariationin
thedesignscope
andconsequences
oftherequirement
poolandthe
heterogeneityof
designcomponents
involved
Notrecognizedasan
importantelementin
REactivity
Signi˚cantelement
in˜uencingREdynamics
andcomplexity[Jarkeetal.
2011;Hansenetal.2009]
Velocity
Therateatwhich
requirementsare
changingovertime
Notimportantand
recognized
Signi˚cantcontributorto
speci˚ccontextofRE,
especiallyinsoftware
platforms[Fisheretal.2013]
indeed,theyappearnolongertoabletoﬁscaletomanagetheseincreasinglycomplex,
globallydistributedsystemsatreasonablecostorprojectriskﬂ[BritishComputer
Society,2004,p.1].
Inthisnewsituation,ISscholarsneedtoheedtoanddealwithanewsortofdy-
namiccomplexity,˚lledwithnewdegreesoftherequirementsofvolatility,vagueness,
variance,andvelocity.Thisinvitestheexplorationofnewintellectualstrategiesto
dealwithsuchchange.Mostimportantly,scholarsmustaskhowwecanreconcep-
tualizeREtasksandconditionsfortheireffectiveexecutioninlightofthisdynamic
complexity.Takingsuchcomplexityseriouslyrequiresscholarstoacknowledgethat
thissortofcomplexityŠasaphenomenonŠisnolongeramarginalfeatureofRE.
Consequently,theyneedtoexpandanddeepentherangeoftheoreticalframeworks
thathelpconceptualizenewREcomplexityandgeneratestrategiestomitigateits
effects.
Toaddresstheseissues,scholarsneedto˚rstobtaina˚rmerintellectualgraspof
whatthissortofcomplexityisandgrounditonquiteextensivetheoreticalworkon
complexityandsystemstheory(seetheworkofKingandSimoninthisissue).Inthis
stream,complexitygenerallyreferstoanemergentpropertyofasystemcomposed
oflargenumbersofself-organizingagentsthatinteractinadynamicandnonlinear
fashionandshareapath-dependenthistory[Cilliers1998].Incomplexsystems,tight
ACMTransactionsonManagementInformationSystem,Vol.5,No.3,Article11,Publicationdate:January2015.
 11:4M.JarkeandK.Lyytinen
couplingsandcomplexinteractionsarelikelytoamplifypositivefeedbacksuchasdras-
ticchangesinvelocity.Theymayalsoleadtocatastrophiceventssuchasthoseresulting
fromsigni˚cantvarianceintherequirementsknowledge(andrelatedchallengestoin-
tegrateandmakesenseofit).Furthermore,thenewcomplexityoperatesbetweenorder
anddisorderof(social)systemsattheﬁedgeofchaos,ﬂwherebysoftwaresystemsgain
generativeproperties(increasingvagueness),shiftunexpectedlytonewdevelopmental
trajectories(againincreasingvolatility,velocity,orvariance),andconsequentlycannot
bemanagedsolelybyclassicalREmethodsthatmitigateagainstinternalcomplexity
3.ADDRESSINGNEWREQUIREMENTSENGINEERINGCOMPLEXITY:GOALSOFTHIS
SPECIALISSUE
Therealizationofthepresenceofanewtypeofcomplexityhassigni˚cantrepercus-
sionsonhowscholarsandpractitionersalikeapproachrequirementsmanagement,
requirementsevolution,REtasks,orsoftwareeconomics.Toaddresssomeoftheseis-
sues,theguesteditorsofthisspecialissuehavebeeninvolvedandorganizedaseriesof
scholarlyworkshopsthatinvitedparticipantsbothfromacademiaandindustry.These
workshopswereorganizedbothintheUnitedStates(seeLyytinenetal.[2010])and
Europe(Dagstuhlworkshopsin2009[JarkeandLyytinen2010]and2012(thisissue)),
andtheydeeplyexaminedanddebatedthesetopics.Thisexplorationhasalsoproduced
anREmanifesto[Jarkeetal.2011]thatoutlinessomeuniqueresearchchallengesin
RE,aswellassomesolutionstrategiesassociatedwiththisnewformofcomplexity.
Thisspecialissueadvancesthislineofinquiry.Itisanoutgrowthofdebatesheldin
thethirdworkshoporganizedinDagstuhlinOctober2012,whichspeci˚callyfocusedon
newtypesofrequirementscomplexityanditssources[Huangetal.2012].Itaddressed
thefollowingchallenges:(1)todealbetterwithcontextchangesandbusinessgoal
managementtoreducetheﬁblackswanﬂrateofbadlyfailedlargeprojects,(2)toexploit
recenttheoriesoftechnologicalandinstitutionalevolutiontounderstandbetterhowto
controlcomplexityandleverageitforsoftware-basedinnovation,and(3)thedemandfor
runtimereorganizationofexistinglarge-scalesystemswithrespecttonewoperational
andREgoals.
Whenweproposedthisspecialissue,wehadseveralgoalsinmind.First,wewanted
thisspecialissuetobepartofanongoingefforttoframe,in˜uence,anddirectthedis-
coursearoundthenewﬁbraveﬂworldofREtobecomemorerelevanttotheincreasingly
complexworldofsoftwaresystems.Second,wewantedtoshiftthefocustoexamining
REasconstantshapingofﬁsociotechnicalsystemsﬂintheformofdesignrequirements
thatareattentivetoandre˜ecttheemerginginteractionsamongpeople,software,
andtechnologies.Theseallneedtoberecognizedwhilemanagingcomplexsystemre-
quirements,andtheyrequiresimultaneousanddynamicunderstandingofsocialand
technicalelements,aswellastheircomplexinteractions.Third,weemphasizedŠin
thespiritofnewcomplexityŠREasanevolutionaryapproachthatconstitutesanon-
going,nonlinearprocessofadoption,mutualadaptation,andco-evolutionofmappings
betweenproblemspacestosolutionspacesacrossmultifacetedsociotechnicalsystems.
Fourth,wewantedtoembraceissuesofREscalabilityinthecontextofmultidimen-
sionalchange.Thereissomeproofthatdigitalinfrastructuresnowenableadifferent
scaleofREŠforinstance,opensourcesoftwaredevelopmentorappecosystems.There
is,asyet,littlesystematicinvestigationofhowscalabilityanddynamisminteractand
howsuchinteractionin˜uencesRE.
Tothisend,thisspecialissuefocusesonaseriesofinterrelatedquestions:
(1)HowaredifferentformsofcomplexitywithinREtheorizedandstudied?
(2)Whatarethenewperspectivesoncomplexity,suchasbiologicalsystemsandcom-
plexityevolutionaryeconomics?
ACMTransactionsonManagementInformationSystem,Vol.5,No.3,Article11,Publicationdate:January2015.
 Editorial:ﬁComplexityofSystemsEvolution:RequirementsEngineeringPerspectiveﬂ11:5
(3)Whatperspectivescaninformhowandwhycomplexrequirementsknowledge
evolvesasitisgenerated,validated,anddistributed?
(4)Howdorequirements,systemevolution,andenvironmentalchangeinteract?
(5)Howdodifferenttypesofknowledgeinteracttoshaperequirementsandtheir
evolution?
(6)Whataretheoriginsand˜owsofin˜uenceofrequirementsknowledgeforcomplex
evolvingsystems,andhowcannonlinearin˜uencesbeeffectivelymanagedinthe
REevolution?
Ascanbeseeninthislistofquestions,thisspecialissuespeci˚callyseekstointe-
grate(sociotechnical)theoriesofsystemevolution;cognitionwithincomplexenviron-
ments;modelsofREanddesignknowledgeandtheireconomiceffects;theimpactof
designstrategyandrelatedknowledgeendowmentsduringREprocesses(e.g.,explo-
rativevs.exploitativeprocessesofrequirementsdiscovery);andtheroleofvagueness,
volatility,andincreasedvarianceandvelocityinmanagingRE.Attentionisplaced
onresearchapproachesandmethodsthatcanbebroughttobearinaddressingthese
problems.
4.CONTENTOFTHESPECIALISSUE
Overall,wereceived14submissionsforthespecialissue.Aftercarefulreview,we
decidedtopublish˚vearticles,whichamountstoalittlemorethana30%acceptance
rate.Overall,theacceptedarticlescanbeorganizedintothreemajorthemes:
•
DeÞningcomplexity
includesthearticlebyKingandSimontitledﬁComplications
withComplexityinRequirementsEngineering.ﬂThisthemeaddressesresearch
question(1)withregardtothenatureandchallengesassociatedwiththisnew
complexity.
•
Sourcesofcomplexity
includesthearticlesﬁGettingtotheShalls:FacilitatingSense-
MakinginRequirementsEngineeringﬂbyRosenkrantzetal.andﬁImpediments
toRegulatoryComplianceofRequirementsinContractualSystemsEngineering
Projects:ACaseStudyﬂbyNekvietal.Thisthemeaddressesresearchquestions(3),
(4),and(5)andfocusesontheoriginsofnewcomplexityintermsofheterogeneity
ofknowledge,systemcomponents,andtheirdifferentialratesofchangethatdrive
volatilityandvarianceupinrequirementswork.
•
Mitigatingcomplexity
includesthearticlesﬁImprovingBusinessValueAssurancein
Large-ScaleITProjectsŠAQuantitativeMethodBasedonFoundedRequirements
AssessmentﬂbyWolfetal.,ﬁSituatedBoundarySpanning:AnEmpiricalInvesti-
gationofRequirementsEngineeringPracticesinProductFamilyDevelopmentﬂby
Rameshetal.,andﬁTheRequirementsProblemforAdaptiveSystemsﬂbyJureta
etal.Thisthemeaddressesresearchquestion(6)regardinghowtodealwithin-
creasedcomplexity.Thearticlesspeci˚callyfocusontheevolutionofhoweconomic
valueofthelargeprojectsareassessed,howknowledge˜owsandknowledgerepre-
sentationsaremanagedinmorecomplexproductplatformenvironments,andhow
formalapproachescandealwithnewmodelingchallengesassociatedwithsystem
adaptability.
Wewanttoextendourthankstoallofthereviewerswhoputtheireffortandtime
intoconductingtimelyandhigh-qualityreviewsandtherebymadethisspecialissue
possible:PekkaAbrahamson,RomanBeck,NickBerente,LamCao,JaneCleland-
Huang,PatrickDelfmann,J
¨
orgD
¨
orr,AlanFisk,XavierFrank,AnnaHannemann,
SeanHansen,TimoKakola,AmolKharabe,SenguptaKishore,RalfKlamma,Julio
Leite,HorstLichter,RikardLindgren,FlorianMatthes,JohnMylopoulos,Selmin
Nurcan,AndreasOberweis,BarbaraPaech,BarbaraPernici,BalaRamesh,Isabelle
ACMTransactionsonManagementInformationSystem,Vol.5,No.3,Article11,Publicationdate:January2015.
 11:6M.JarkeandK.Lyytinen
Reymen,StefanieRinderle-Ma,William(Bill)Robinson,ThomasRose,MattiRossi,
TimoSaarinen,ZixingShen,AlistairSutcliffe,RichardSvensson,JohnTripp,and
FanYang-Turner.Wealsowanttothankseveralcolleagueswhowereinstrumental
inorganizingtheDagstuhlandearlierworkshops,includingPeriLoucopoulos,
JohnMylopoulos,BillRobinson,SeanHansen,NickBerente,LinLiu,andJane
Cleland-Huang.WealsothankHsinchunChenandCathyLarsonfortheirhelpand
unwaveringsupportwhilepreparingthisspecialissue.
Lastbutnotleast,thisspecialissueappearsintheverymonthinwhichProfessor
ReinhardWilhelmŠthefoundingdirectorofDagstuhlCastle,whichinternationallyis
probablythemostimportantcomputersciencemeetingcenterŠretiresaftermorethan
25yearsofleadershiptothecomputersciencecommunity.Wethereforededicatethis
specialissuetoReinhardWilhelm,whowasalwayshighlysupportiveinorganizing
RE-relatedworkshopsinDagstuhl.Thisspecialissuecomesthuswithwarmthanks
onbehalfofthewholeREcommunity.
REFERENCES
B.W.Boehm.1988.Aspiralmodelofsoftwaredevelopmentandenhancement,
Computer
21,5,61Œ
72.
BritishComputerSociety.2004.TheChallengesofComplexITProjects.BritishComputerSociety,Royal
AcademyofEngineering.RetrievedNovember15,2005,fromhttp://www.bcs.org/upload/pdf/complexity.
pdf.
F.Brooks.1975.
TheMythicalManMonth
.Addison-Wesley.
B.H.C.ChengandJ.M.Atlee.2009.Currentandfutureresearchdirectionsinrequirementsengineering.
In
DesignRequirementsEngineering:ATen-YearPerspective.
LectureNotesinBusinessInformation
Processing,Vol.14.Springer,11Œ43.
P.Cilliers.1998.
ComplexityandPostmodernism
.Routledge,London.
J.Cleland-Huang,M.Jarke,L.Liu,andK.Lyytinen(Eds.).2012.Requirementsmanagement:Novelper-
spectivesandchallenges,ReportfromDagstuhlSeminar12442.
DagstuhlReports
2,10.
M.Fisher,M.Abbott,andK.Lyytinen.2013.
ThePowerofCustomerMisBehavior
.Palgrave&McMillan,
LondonandNewYork.
P.FrederickandF.Brooks.1995.
TheMythicalMan-Month.
Addison-Wesley.
O.C.Z.GotelandC.W.Finkelstein.1994.Ananalysisoftherequirementstraceabilityproblem.In
Proceed-
ingsofthe1stInternationalConferenceonRequirementsEngineering
.94Œ101.
S.Hansen,N.Berente,andK.Lyytinen.2009.Requirementsinthe21stcentury:Currentpracticeand
emergingtrends.In
DesignRequirementsEngineering:ATen-YearPerspective.
LectureNotesinBusiness
InformationProcessing,Vol.14.Springer,44Œ87.
O.HansethandK.Lyytinen.2010.Designtheoryforadaptivecomplexityininformationinfrastructures.
JournalofInformationTechnology
25,1,1Œ19.
I.Jacobsen,M.Christerson,P.Jonsson,andG.
¨
Overgaard.1997.Object-orientedsoftwareengineering:A
usecase-drivenapproach.In
Scenario-BasedDesign,
J.Carroll(Ed.):Wiley.
M.Jarke,X.T.Bui,andJ.M.Carroll.1998.Scenariomanagement:Aninterdisciplinaryapproach.
Require-
mentsEngineeringJournal
3,3Œ4,155Œ173.
M.Jarke,P.Loucopoulos,K.Lyytinen,J.Mylopoulos,andW.Robinson.2011.Thebravenewworldofdesign
requirements:Fourkeyprinciples.
InformationSystems
36,6,992Œ1008.
M.JarkeandK.Lyytinen(Eds.).2010.
SpecialIssueonHighImpactRequirementsEngineering
Wirtschaftsinformatik/BISE
53,2.
K.Lyytinen,P.Loucopoulos,J.Mylopoulos,andB.Robinson.2009.
DesignRequirementsEngineering:A
Ten-YearPerspective.
LectureNotesinComputerScience,Vol.14.Springer.
T.O™Reilly.2005.WhatisWeb2.0?Designpatternsandbusinessmodelsforthenextgenerationofsoftware.
IEEESoftware
30.
B.RameshandM.Jarke.2001.Towardreferencemodelsforrequirementstraceability.
IEEETransactions
onSoftwareEngineering
27,1,58Œ93.
D.T.Ross.1977.Structuredanalysis(SA):Alanguageforcommunicatingideas.
IEEETransactionson
SoftwareEngineering
SE-3,1,16Œ34.
ACMTransactionsonManagementInformationSystem,Vol.5,No.3,Article11,Publicationdate:January2015.
 Editorial:ﬁComplexityofSystemsEvolution:RequirementsEngineeringPerspectiveﬂ11:7
D.T.RossandK.E.SchomanJr.1977.Structuredanalysisforrequirementsde˚nition.
IEEETransactions
onSoftwareEngineering
SE-3,1,6Œ15.
V.SambamurthyandR.W.Zmud.2003.Researchcommentary:Theorganizinglogicforanenterprise™s
ITactivitiesinthedigitaleraŠaprognosisofpracticeandacallforresearch.
InformationSystems
Research
11,2,105Œ114.
W.W.Wu,G.M.Rose,andK.Lyytinen.2011.Recognizingandmanaginginnovationpointsinlargeinfor-
mationtechnologyprojects.
MISQuarterlyExecutive
10,3,121Œ132.
ReceivedApril2014;acceptedMay2014
ACMTransactionsonManagementInformationSystem,Vol.5,No.3,Article11,Publicationdate:January2015.
