 Association for Information SystemsAIS Electronic Library (AISeL)Information Systems and Qualitative Analysis, University of Nebraska at Omaha, Omaha, United States.MIS Department, San Diego State University, San Diego, CA, United States.Center for Collaboration Science, University of Nebraska at Omaha, Omaha, NE, United States.AMCIS 2012 Proceedings. 
˘
ˇ˘ˆ
˙˝˛˚˛˛˘˝
˜˝ˆ !
ˆ!"˛!#$%&!&'%&
%

˘ˇˆ˙˝ˆ



˘ˇˆ˙˝˛˙˚˝˛

˘˘ˆ˙˝˛˝˛
˜ !"˙!˘
˛ˇ˙˙
#˘$"˙˙˚˚"$
"˙˙"˚˘˘%˛˙˝
&˛˙
˚"˚˘˚˙
$˚˚%˛˙˙˙˛"˝
'˚%˛
˘%˛˙"˙˚˛˘
˚˚˙"(#"˙˚˚
˛("
˘$"˙˙˝#˛
˚˙˙˛"˙%˛˙
$
"˙˙"$˚˚˚˙
#'˚)˘˘
˛*)˘
+˘,--./"%˛˙˙
˙˛"˙"˘
˝+˚
˚˛%˛˙"˛˚(
"$˙0˘˝



˚ˆ˜
#˘$"˙˙"(#"˙

 !˙"#˙ "!
$"˙"1˛˛
˙$˛*2#3,--./˝˜˛˚˚
˛$˚
$"1˛˚˛
"˘%˛˙*2˙4˚,--5/"
$˚
$˚%˛˙˚˘˝6˘˛
˙˘7$˚˚
˘
%˛˙*2˝,--8/˝˜˙%˛
˙˚˘˘$˚˚˘˙*
˛˛˙
95.../˝'"˙%˛˚˘˘
%˛˙$"˙˙˚˛˚
˚˚
˛˚˛˙#˘*:;˛˙/˚
"˘˛˙$
"˙
˙*)3,-5-/˚˙˚
˙˙˝#˚˚˚#˘
˙˚˚˘
˚$˙˘<
""˚˘
˙*
,--./'˙˚˚˚"%˛
˚˘˚˙"
˙
˙˚˘˛˚$"˛"˙
*;˛6$,--=/$"˙
˝

'˚˘$"˙˙"˚
˚˙$˚˚%˛˙˙˙
˛
"˝##˘$"˙
˙"˚7˚˛>>
$˘$
˙"˚˛˙˚˙
˙˙˛˘"˘$%˛˙
"
*?˝,--5/˝#˘˙˚˛˚:;
˛˙˛$@˛A*˚,
--B/˚
˙˛˙˘%˛˙˝'˚˛
˙˚˛
˚$˚$
$$˝'˚˘$˚$˘
$"˙˚˙$˚˚
$˚
%˛˙˙˛˘"˛
˚˛˙"*˜C˛˘˘5..=/˝

?˛˚˙"($"1
˚˙˚#˘˙˙
˚
%˛˙˙˙˛"˙"
˛˘˘#˘$"˙˙˚˝
 
%˛˙˛˙"(˚
˙˙"˙˛˛˙˚˛˙˘
%˛˙
*˜˚˝,--8/˝!˘˙˛
#˘˘"˙˙˛˛
˘˙"(
%˛˙*#˙,--B/˝˙˙˛˙
˚"˛
˘
˛>˛%˛˙*'˛&˝
C,--D/˝6(˙"˙˘#˘˙˚$˚
˙˙"(
 
˘
ˇ˘ˆ
˙˝˛˚˛˛˘˝
˜˝ˆ !
ˆ!"˛!#$%&!&'%&
&
˙˚˛˙˘%˛˙˛˚
"˚˘˚˛˛*#˙˜
˚,---E
˜˚˝,-5-/˝


+˚˛˘˚"#˘
%˛˙˙˙˛"˙"
˚
˙˚˛˛˚"
˚˚˛$˚˚˚("
˚˚$
%˛˙"˙˙˙˛"
˚˛˛˛
˘˝3˚
˛˛˚˘˚>"˛˚
˚˛˛˘˘˙˛˙˛˘
(˚˛
*˜˚˝,-5-/˚˘˚˙
˙#˘"1˙˘˙"
*)˘+˘
,--./˝+˚˛˚˘˚˘˚˛˛˚
"˛˚˚("˛
%˛˙
˙˙˛"˙"˝3˚˛
#˘$"˙˘˚˛
"
˙$˛˚˛˘$˚˚
$˛
˘
*#˛˚˝,-5-/˛˚$˚
˛˘˝

+˚"˛("˘
˛˘$"
%˛˙
˙˙˛"˙$˚˚˛˚˘˚
˚˘˚$"˝+
˚($˚˚
#'˚("$˚˚˘%˛˙˙
˙˛"˙$"
˘˝
#˚˛˛("˘˚$˙
˚˙˛˙
*
,-55/˛˚˚˘˙˝+
˛˚$"˙˙
"˙
˙"(#"˙'˚˚)˘
˘˛*)˘+˘,--./˛
%˛˙
˙˙˛"˙"˝

˛˚$"#!

˙˝%%%
ˆ
C%˛˙˙˙˛"˙"
"#˘$!"˙
˙˚˝'˚
"˙˝'˚#˘˙
˙˙"˚7$˘$
˛˙
*?˝,--5/˝˙˙#˘
˜˚"˘˛˚:;˛˙˛
"
˚˙˙˛"˙%˛˙
*˝˘˝˛"˘
˘"/
*#˚˙˝,--F/˝

C˚"˙˚
("$˚˚""˛˚
$
"˙˘˝˚˘˚
˙
"˚˘
*˚˘%˛˙/˚˙
0˘*4:,-5-/˝2
2
*,--./˙˚˚"#˘
$"˙˘˛˛˚˙0$
˘$˚
(˛"˚$"
"("˝'˚˛
"˚
%˛˙˘˚$˙$˚
˚˙˙"$˚
˙"%˛
˚˘˘˝'˚˛)˘
+˘*)˘+˘,--./˛˚˚

$"˙˙"%˛%
˛˙˚˘$"%˛˙
"˙
"<˛"˘$
˘˚˚˘˝
˙˝%%˝˘%


'˚"˚$˚˛
˚˘"˚%˛˙˙˙˛

"˙"˛˘
%˛˝&˙"˙˚˘"
"˚
˚˘"1$˚˙˙"(
%˛˙˚
*?˚˙'˛
,--FE&7˘,-5-/$˚˚˘
˛˘˚˘˘$˚"1˙"
(˝#˙*#˙
,--B/˚˚˙@#˘˜˘A
˚˛˙˙%˛˙˙
˘˚%˛
#˘˘˙˙˛
˘$˚˛˘
˝

'˚˚("
%˛˙"˝#˙
˚$˚$˚˚˚
$˚˚˚1
˛˚˛˛˘
$"˙˘˝
G˚˚˚$˚˚"˙7˘
˚˛˛%˛˙˘*˚
),--=/
˚$˘˚˛"˙˘
$˚˚%˛˙*H˚˝,--=/˛˚
("
%˛˙"#˘˘
"˚˙˘˛˛
˝
 
˘
ˇ˘ˆ
˙˝˛˚˛˛˘˝
˜˝ˆ !
ˆ!"˛!#$%&!&'%&
(
ˇˇ&ˇ˙'(ˇ˙)'"&" $ !!**+ ˙ "!˙"',# 
'('!˙ˇ*˙ 'ˇ
˘ˇˆ˙˝ˆ
˙"(#"˙'˚("˚$˙
˛˚˘˙˚
˙I5/
˘,/˚$˚˙F/˚
˙˚$˚*,-55/˝'˚
˘˛"
"˘˙$˚˚#˚$˚
˘˘$˙*˝˘˝˜˚˝,-5-
E)˘+˘
,--./˝ ("˘˘˚#""
˛$˚("˘$"˙˘
˛˚
˚#"˙
"""˚˘˚˛˘˚"
˝+"˚
˚""#˚*)˘+
˘,--./˛˚˛˘˛˚
($˚˚˚
$˙˙˙"˙˚$
$$$˚˚˝'˚˚
˛˛
˚"˙$˝
˙˝%˘ˇˆ
'˚"˚˚˙#
)˘+˘*,--./˛˚
$˛
˚˚˘%˛˙˛
˚˛˚"˙˙˚˚%˛˙
"˝&
(˙"˚˛˜˚˘˛*˜˚
˝,-5-/˙˙˙˙
˛
˙$"˛*$"
˛/$$˙˘˚
˘˚
$"˙"˘˙˘7˘""
˛$˛$˚˘˘˝


##(˙
˛˝ $"˙
˙˚$˚˚
˛˙0"˙˚$
˛˚˙0*˘/
(˚˙˝
#˙˚˛˛˙0"
˙$˚˚
˙˚
˙˙˛˘"˘%˛˙"""
˚˛˙0"˙˝˛˘
˚%˛˙
˙˙˛"˙"$˚˚
˚$"˙˙˛
˚˘
%˛˙"$˙˙
"˚˘˚(˙˝
˘ˇ

'˚˘#*˙˙˙/
"˚˘˚(˙$˚
˚
$˚"˚
˚˛˘˝'˚""
˚
$˚˚0$˚˚$
˙˙˙0˚˘˚˙˛
˚˙˝
'˚˙˛˚˛%˛˙
˙˙˛"˙˙˚˚
˙˚˚
˙˙˛%˛˙˛˙"
˙˙˚˙˝#˛˙*˚
)
,--=/*H˚˝,--=/˚˛˛
%˛˙˙˙˛˙˛
*˝˘˝˘
˙˙$/˛˙˛
˚˙$˚$
˘˝
ˆ˙˙
#˙˚˛$˘"$˚
˘˚$"˝ ˙
%˛˙
˙˙˛"˙˚
˛˙˚˙
˘
$˚˚˚˚˘
˘7$$˚˚˛%˛˙˙˙˛

"˙"$˚˛˙
˙""˝
('˙)"
#("˛$"˙
(""
˙˙˚
"1˙$˚˚˛˘˚˚˛
˛%˛˙"˙˚˘˚
%˛˙
˙˙˛"˙"˝'˚˘
˚˛˚˛˚
($˚˚˚
˙˙"(#"˙"
*)˘+˘,--./˚˘
$
"˙˙0%˛˙˙˙˛
"˙$"$˘
˝'˚
˚
$˚˚˛$"$$˘
˚"˘$
""˙˚˙"
˛˙˚˛˙˚
*˚,--B/
˚#˘$!"˙"*#˚˙
˝,--F/˝!˛˙˘
˛
˛˙$"˛˚˙˝'˚
˙"˚
˛˚$˚
""˚"1˝!˛"
$"˙˚˙˛˚˘
˛
˛˙˛˙"$˚˚˛
˚(""$#˚("
˘˚$˚
˙"˙˘˝'˚˙˙
(˙"$˚˚˛˘˝
 
˘
ˇ˘ˆ
˙˝˛˚˛˛˘˝
˜˝ˆ !
ˆ!"˛!#$%&!&'%&
)
˛-%ˇˆ
'˚$"˙˙˛˛$
$˚˘$""˙˙

$""
˘
˝'˚""$˛("
$˚
""$˚˘˘
˚˘˚ ˝'˚˙˚˛˘JF=-
----!$˚˚$
"˛˛˚
˛˚˙˝'˚˙
˚;˛3$*;3/
$˚˚˚$˘˚˛
˚""˚ K6("
˘* K:/
˙#˚*#/˙("
˜*˜/$˚˚"˚˛˙$
˘˙˘˘
˛˙˚˝'˚˙
˙"˚˛˙˙˚˘$˚˚"1$
˚˙˚˘
˝$$
˘˚"˘˚*˚,--B
/<˚$
˘"˛˚˛
""˘"
˙˝
ˆˆ
+˘7˚˚˘
$˚˚˚˙˙"
(#"˙
%˛˙$"˙"
$˚'5˝ ˚˚
$

$˚˚˛˘˚˘"$˛
˚˝#>"˙$˚%˛
˙˛
˙˙˚$"˙˙˛
I"˘""˘
$˘˝'˚
$"˚˘$I


ˆ*+˛˚,˘, ˝˘˛

I+"˛˛˛˚˘$˚
˚
˛˛$˚˚"˙˙˝


ˆˆ˝$-./
+"˚˘$˚˚˚˘
˙"˚˚
˙˙˙"˙˙
˛˝
0˚,˚,/
+"˚˘$˚˙
˚($˚˚$
"˙˛$$˙˝

#˛˙˙˚˛˚˙$
˚"˚˚˚˙$
˚"
$"$˝
˝˛˚
'˚$"˛˙˙7$
I
 "˙˘˛
˚˘˘˚"1
˘"
˚$˚$$
˛˙˘"˙
˚""˘˝#"
"
"˚""˘˝
!7˛%˛˙˚
"˛˙"
$˚
˛"˝
˜˙˙ 

##˛˘˚˚
˙"(˚˚˘˙˝
'˚˙1˛
˚˙"(˚˙$˚%˛˙<
˚˚$˚˚%˛˙˚
˚
%˛˙˝˚˘˚"1
˛˘˚ (˘""
˚˚;3
˚˘˙"7
˚"1"˘˝2$˚˘"
˚
$$˚˚˛˛"˙
˛˙%˛˙˚˘
˚"1˚
;3˛$"˙˙
˛˘˘$˚˚ K:˘˙
˘˛
˚˘˝'˚˙"˚
˚˘%˛˙˘
˘˚˘
"˛1˛"˙"˝

'˚%˛˙˚$(˚"
˙˝ ˛$

˝H˚˛˙˛
˙˛˙"˙˚˙˛
˙˛"1˝
 
˘
ˇ˘ˆ
˙˝˛˚˛˛˘˝
˜˝ˆ !
ˆ!"˛!#$%&!&'%&
1
˜"˙˛˚
˚˙˛˛˝'˚"
˚
(˙"2"6"&˘˛5˝'˚2"6"
2"˙$""
˚"˘
"˛˚$˝'˚˛˚
˙˚%˛˙
˛˚
˛$˝;˚%˛
˙$˛˛˘˘"
˘$
˚"˙2"6"˝
˘ˇˆ˙ˆ˝˛˚˜ ˛˜˜!"˚ˆ˚#

'˚˙˛"">˘7
˘˚"˙˙˛˘"
˘%˛˙
$˚˙˙˚˙˛
˝'˚˛˙˛˛
˘˘˙˘
$˙˙˛
˙˚˙˘˙
˝&%˛˙
$˙˙˛˚˛˘˚2"6"2
"˚˘˙˙˛
""
˚˛˘˚˛$˚˙
˛˚˙˙˛$˘˝
ˆ˙˙
?˛˚""$""
˚˘˚˙˚˛
("$$
˛˙˘%˛˙˝#˛˚(
˙"˚$$

˝2$$
˛˛˚˙˛˙
"˝'˚
'˚˙"
˘˘˙˘˛˘
˘˙˘˙
"˙˚""˚
˘˙˘˘7$˚˘˙˚
"˝#˚
˚"˘$"
"˘"˚˚
˘7˘$˚
˛˘˚˚˝

ˆ$˘%&
3"6˙
'()&
3"6˙6
 L#66M6˘L"
M˚˙L1M˘˛
˚˛˚
L1M˝'˚˙˚L1M""
$˚#6"˝&
$˚˛""
$˚˚˛˝&$˚˛""
˙"˝
? 6C46I

'˚˙˙L1M
"˛˛$
6!C46

ˆ*'()

'()&
6˙6
 ˚#6#6˘LML
1M˙˚˚˘˛
˛˚L1M
˛˛˝'˚˙˚
1˝'˚˛˚
˙˚
˝

? 6C46

#˛˙˛˚
˚"
6!C46

ˆ*'()

$+ˆ(ˆ'&

,%%ˆˆ-
6("'E#?˛E6
E'6
,#˜-
˚(˚˙E˘˚
˙E˚
˛˚
˙

,.#-
;1E;˚E#ECEE'E˙"
E
,˚-
!˛>EC˘˚>@6AE
˚&˙˛@6A
ˆ*$+ˆ(ˆ'

ˆ*ˆ$˘%
 
˘
ˇ˘ˆ
˙˝˛˚˛˛˘˝
˜˝ˆ !
ˆ!"˛!#$%&!&'%&
2
˜˚6(˙"(˛"">3˘7
?6("$˚6("
!˘
>ˇ* 
˛3˛* 


˝!˘˘"˙˙
˙$˚˚˘"˝

!˘"˚˚˛

˚˚˚˙˘˚

˚˚˙"˚

˛"˙˘"˝


>+˛˝˛˝ 

4 4 ˚5˛˛5 


2"6"2"
˘˛˛˚˙˛˘
˘
˘˚˘˛˚˙"

˙˛˛*˝˘˝C!˙˙

˚1˚˙/˝

>ˇ˝5˛˛

ˇ˜6ˇ7, ˛

˙˚˛"˛˘

˚"˛˘˝

>ˇˆ ˘˝5
˝
'$$"˚˛"˛
"
˘˙˙˘˝!˛$˚$˘

˛"˙$˚˚

˙˙˚˙˘˝


>4 ˚4 ˆ 
 
˝
2"$˛˛$˛
$˚
˚˛˛"˘˝"
˛
$˚˚˛˙˚;30˛"
$˘
˚$$$2"6"2"
˝

>+ ˝ 

5˛˝5˛˛˛˛8
'˙
˛˚@'A$˛˛˚˙˛

$˚$˘˙˙˛˛˘<˚

˚"˘˙˛
˚˘
$˚˚˛˛˚˚˛˝
"˘
;˘
>ˆ,
˛ 
˝˙˙$˚˛˙"(
˛˛˚˛˛$$˛"

˛˙˚˛˝C˘

˚˛˛˛˙˚""
˘
˙˘$%˛˝
>5 ˛
 
5˛˛ ˛
˝
˛ 5*5
#˚˛˘˚
"$$""
˘
˙˘˚$˛$˚"
˛˘
˚""˘˙˘$

$˛˝'˚˙"˚
˘
˚˜$˚˙"(

˚˛˚˛"˛˝

>4 ˚4 5 

˛˛˛
˝˛
 
#˚;3˚˚
2"6"$˘˙"
˙
˙2"6""˘"˛˛
$
"˛"$$˚˚˛
˚
("˝
>3˛˝˝

˝ ˛*
˝ 
˙˘˚˘˘˛˚˘$
"˙*˚˙˚
/
˙˛˙"˛
˝
'˘
>3˘ˆ
˛  

#"˘˘˛˛˘

˚˙˙˙2"6"˝

C˘$˚˛˘1

"˛˙˚(˙"˝
>5 ˆ +5
6˝
#"
'$˘˚˙˚˙
˝
'˚˙˙7˛˘˚"

˝

>5˛˛ˆ+

5˛˛˝˝


˘*)3/"$
˘
˘$˘˘˘
$˚˚
˛˛"1˙˘˙$

"˙˚"˝
>5˝
*˝
˛˝˛˝˛˝˛
˝
˝
#˛˙˘$˘$
˙˛˘$˚˛("
˘
˙˚"˚˙˝'˚$
˙
˛"I

&˛˙˘"˛˚$

˚˙˚$˚˛$˚˚

$*"˘"˛/˝

("˘$˛˛
˛˚
˙$˚˙

˚˝
(˜˙&%#˜ˆ/(˛ˆ  ˘#
˜"0%˜ "%˛˚˜˝˚/'"˛
˛' 123˛$##
 
˘
ˇ˘ˆ
˙˝˛˚˛˛˘˝
˜˝ˆ !
ˆ!"˛!#$%&!&'%&
9
 ˇ#ˇˇ "!
'˚"˚˚˙#'˚
*)˘+˘,--./˙"˚
7˚˚
˚˘%˛˙˚˚
%˛˙"˚
""˛
#˘˝#"˘˚˙%˛˙
˛˛˚"˙˙
$˛˘˚
2"6"2""˛%˛˙$
"˙(˙"˚˙"˛
˘˚
˙$˚˚#˙˛"˝4˚"
˙˙˚$"
˘
˚*˚),--=/˚
"˙˙˚$˚$%˛˙
"˚
˚*˛˘˙"(/˚%˛˙
˝
'˚#˙""%˛˙$"
˛˚˚˘˚˙$˚˛
˘˚$
˚˙˚$˝'˚˙˛
$˚˚˙
˚˚˛
˘7("˝#(˙"˚
˚˛˛""˚
˙˚˚
˙"(˚˘$˚˛˙>
˘7˝'˚"$˘˙˙˛
˘%˛˙
2"6"2"˘
˚˛˙˛˙˚"˛
˘%˛˙˙
˛"<˙˘˚˙˛˙˛
˚""˚˝+˚˙"˚7˙
˚˘%˛˙
˙"(˚˙˚˘˚˛˘˘˚
˛˚""˚˘˘*?˚˙'˛
,--F/˝'˚"
)˘+˘0˙*˙
˚˚˘/˝?˘("("

˘$"<˚$"˙
˙˙˛˚˘$˚˚$˚˙
˘
˚˚"˙˙$˚
˘˝
"!+#ˇ "!
˘#'˚$˚˛˚$%˛˙
"˙˙˙˛
˛˚
˘<˚"
˚˘<$"˙˙˝+˚
˚$˚#
˚("˚˚
˝'˚˚˛˛˘"
˚˘
˛˚˙"˚%
˛˙˙˙˛"˙˙˚˛
˚˙
˛˘˛˚"
&˛˛˚˚˛$"
˘˙
˚$˙˚˘˚
˘7˛˘"˚˝
'.''!'ˇ
5˝
#˛˚?˝˚"2˝2˝,-5-˝N#˜
˚##>˙˙˛

C˚"N
:;˜ˆ˘˝&'%'
""˝FB.>FDB˝
,˝
#˚˙;˝+O˝"˜˝'˝C
O˝,--F˝N$!#˘˜˚I
#
˙"#˝N;3˘I 666˙"˛
""˝,BB>,DB
F˝
#˙˝,--B˝
3˛-8˙/+$5
˛ˇ&'
˝˙˘;˝
B˝
#˙G˝˜˚˜˝,---˝N#C"!"
˙;$˚˙N
ˆ˜<˙˙˘5
*PI5/""B>55˝
D˝
?H˝?˜˝?˛˙#˝˛#
˝˛˘˚˙+˝&$˜˝G˘O˝2˘˚˙
˚O˝
OC˝6˝HO˝˜?˝˜C˝˝
˜˝˚$H˝˛˚O˝'˚˙
!˝,--5˝
N˜#˘$!"˙˝N*

$$$˝˘˙˝˘
/
=˝
?˚˙?˝'˛C˝,--F˝N˘C?
#˘;>!˜˚N
˘
*F=I=/""D8>==˝
8˝
2#3˝,--.˝N˚C"˛˙˙˝N,--.˙
˚"IKK$$$5˝˚˘˛"˝˙K$˙K˚Q,--.˝"
˚"
P˝
˚˜˝,--B˝
ˇˆ/:ˆ˝5

˝#+4˘˙;˛˚˘˝ ˝
˝
.˝
H˝,--.˝N#˘˙&;"IC
˛˘˚"#˘ ˙
˙
!"˙N
˜˝ˆ ˛
*,-IF/""F,.>FDB˝
5-˝
H˝&7˘?˝,-5-˝N˜˚!
"˚6#˘˜˚
'˘I#
˛:"6("3"N
˘+3ˆ˝5˚+˛
 
*,-I5/""5>F-˝
55˝
˛˛˙˜˝#˝9!˝?˝5...˝N$!
"˙ '˙N
˘
*F,I5-/""=->=.˝
5,˝
2˜˝4˝C˝+˝2#˝C˝,--
.˝N&($!"˙˛
N
˜˝ˆ ˛
*,-IF/""B-->B5.˝
5F˝
2˙2˝&˝4˚&˝,--5˝NC%˛˙6
˘˘˛&$;1
N
˜˚˚˚
ˆ˝5
*5PIB/""DP>==˝
5B˝
2O˝&˝H16˝#˝)2˝
)G˝,--8˝NC%˛˙˚˘I&!
˚˜˛
2E!˚+R2N
=˝ˆ ˆ˝5
*P-IF/""F,P>FDD˝
 
˘
ˇ˘ˆ
˙˝˛˚˛˛˘˝
˜˝ˆ !
ˆ!"˛!#$%&!&'%&
>
5D˝
H˚)˝) ˝C˙˚)˝;˝;
˝>O˝,--=˝N˘"˛˚˙I
6("˘˚
C#"" !˙H$˘N
˜˝ˆ ˛
*58I5/""P5>..˝
5=˝
4G˝:+˝,-5-˝N'$#˘I# ˘
#S˛S˛&
!
$!"˙#˘N
+˜˝ˆ ? 
*FBI5/""P8>55B˝
58˝
˜˝#˝˜˝C˛˘˘G˝5..=˝N#I˘
˜˚C%˛˙#%˛N
ˆ˝5˚
=
*55IF/""5PF>5.,˝
5P˝
˜˚4˝'˛˛'˝'˝C
˜˝,--8˝N#˘˜C%˛˙
!"˙N
=˝˛˝˜˝ˆ 
*PI55/""D=.>D.8˝
5.˝
˜˚H˝C˙˚?˝˛˘˛˙)˝,-5-˝N 
˘˘$;˛46˘˘#˘

!"˙N
˜˚˚˚ˆ˝5
*,8IF/""BP>DD˝
,-˝
˝,-55˝N"˛˘?˙>˛" ˙'˚
˘;I#˙"(#"˙˜
N
+˜˝ˆ ? 
*FDI,/""D-D>DF,˝
,5˝
;˛;˝#˝6$3˝#˝,--=˝N&˙ 4
˘˘˙"˙"#˘'˛˛

6˙I'˚$;˛!"˙N

˜˝ˆ ˛
*58IF/""5.P>,,8˝
,,˝
˚'˝˜˝) ˝,--=˝N'˚C˘
&˚C˚"$$˙"
˚
˜N
+˜˝ˆ ? 
*F-I5/˜"",.>DD˝
,F˝
'˛!˝&˝CC˝,--D˝N#˛˙"
˘#˘$>!"˙;N
=˝
+
*5=IB/""=,>P8˝
,B˝
)3˝,-5-˝N#˘˛˝N)3
˝
,D˝
)˘C˝+˘:˝,--.˝N˘˙
˚3˘7#˘$!"˙
N
˜˝ˆ ˛
*,-IF/""FDD>F8=˝

